<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="Database"
            name="database"
            connectionStringName="LogDbContext"
            commandText="INSERT INTO [dbo].[Log] ([LogDt], [MemoryVolume]) VALUES (@LogDt, @MemoryVolume);">
      <parameter name="@LogDt" layout="${longdate}" />
      <parameter name="@MemoryVolume" layout="${message}" />
    </target>
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/Log.txt">
      <layout xsi:type="CSVLayout" delimiter="Tab" withHeader="false">
        <column name="LogDt" layout="${longdate}" />
        <column name="MemoryVolume" layout="${message}" />
      </layout>
    </target>
           
    
  </targets>
  <rules>
    <logger name="db" minlevel="Info" writeTo="database" />
    <logger name="file" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>